body {
    background-color: #282828;
}

.screen {
    background-color: #D5DAD3;
    box-sizing: content-box;
    height: 100%;
    width: 30%;
    margin: auto;
    overflow: hidden;
}

.dark-green {
    background-color: #005F32;
    box-sizing: content-box;
    height: 50%;
    width: 100%;

}

.top-space {
    box-sizing:content-box;
    height: 30%;
    width: 100%;
}

.refridge {
    box-sizing:content-box;
    height: 30%;
    width: 100%;
    font-size: 70px;
    text-align: center;
    color: white;
}

.refridge p {
    font-size: 18px;
}

/** vertical space between dark green and white swirl **/
.space {
    box-sizing: content-box;
    width: 100%;
    height: 18%;
    color: #005F32;
    text-align: center;
    font-size: 18px;
}

.white {
    background-color:white;
    box-sizing: content-box;
    width: 100%;
    height: 30%;
}

.button-green {
    background-color: #005F32; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    font-family: 'Oxygen', sans-serif;
}




