
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 10px;
  padding: 10px;
}

/* Style the list items */
ul li {
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border-radius: 25px;
  margin: 10px 0;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #005F32;
  color: white;
}
#addItem{
  background-color: #005F32;
  margin: auto;
  width: 50%;
  height: 30%;
  padding: 10px;
  border-radius: 25px;
}
input {
  display: inline-block;
  align-self: center;
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
.finishBtn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  width: 50%;
  background: white;
  color: #005F32;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
  font-family: 'Oxygen', sans-serif;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.addBtn {
  padding: 10px 10px;
  margin: 20px;
  width: 25%;
  background: #005F32;
  color: white;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 25px;
  font-family: 'Oxygen', sans-serif;
}

.addBtn:hover {
  background-color: #bbb;
}
a {
  text-decoration: none;
}

body {
  background-color: #282828;
  text-align: center;
}

.screen {
  background-color: white;
  box-sizing: content-box;
  height: 100%;
  width: 30%;
  margin: auto;
}
.background {
  background-color: #d5dad3;
  box-sizing: content-box;
  height: 90%;
  width: 100%;
  margin: auto;
}

.navbar {
  background-color: white;
  box-sizing: content-box;
  height: 10%;
  width: 100%;
  margin: auto;
  display: flex;
}

.icon {
  display: inline-block;
  background-color: white;
  box-sizing: content-box;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.header {
  padding: 15px 20px;
  color: #005F32;
  text-align: center;
  font-family: 'Oxygen', sans-serif;  
}
h3{
  padding: 10px 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;  
}
.icon-child {
  background-color: white;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  margin: auto;
  vertical-align: middle;
}

/** add a box within the main nav bar boxes, in the child box add the image corresponding
to this css style**/
.icon-child img {
  min-width: 100%;
  min-height: 100%;
  width: 50px;
  height: 50px;
}
p{
  text-align: center;
  font-family: 'Oxygen', sans-serif;  
}