a {
  text-decoration: none;
}

body {
  background-color: #282828;
}

.screen {
  background-color: white;
  box-sizing: content-box;
  height: 100%;
  width: 30%;
  margin: auto;
}

.background {
  background-color: #d5dad3;
  box-sizing: content-box;
  height: 90%;
  width: 100%;
  margin: auto;
}

.navbar {
  background-color: white;
  box-sizing: content-box;
  height: 10%;
  width: 100%;
  margin: auto;
  display: flex;
}

.icon {
  display: inline-block;
  background-color: white;
  box-sizing: content-box;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icon-child {
  background-color: white;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  margin: auto;
  vertical-align: middle;
}

/** add a box within the main nav bar boxes, in the child box add the image corresponding
to this css style**/
.icon-child img {    
    min-width: 100%;
    min-height: 100%;
    width: 50px;
    height: 50px;
}

/** stuff going inside green starts here**/
.space {
    box-sizing: content-box;
    width: 100%;
    height: 3%;
}

.background h {
    color: #005F32;
    font-size: 30px;
}

/** creates the padding for the text inside the light green part **/
.items {
    box-sizing: content-box;
    height: 100%;
    width: 90%;
    margin: auto;
}

.button-green {
    background-color: #005F32; 
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    width: 30%;
    float: right;
    
}

/* Style the items **/
.settings-block-1 {
  /* position: relative; **/
  padding: 2px 20px 2px 20px;
  background: #eee;
  font-size: 14px;
  border-radius: 25px;
  margin: 10px 0;
  display: flex;
  cursor: pointer;
}

.collapsible {
  border: none;
}

.settings-block-2 {
  /* position: relative; **/
  padding: 5px 20px 5px 20px;
  background: #eee;
  font-size: 14px;
  border-radius: 25px;
  margin: 10px 0;
  display: flex;
}

.active, .collapsible:hover {
  background-color: #555;
}

.spacey-icons {
  width: 20px;
}






